cloud_id                 = "<your-cloud_id>"
folder_id                = "<your-folder_id>"
image_id                 = "<your-image_id>"
public_key_path          = "~/.ssh/<your-public_key_name>.pub"
private_key_path         = "~/.ssh/<your-private_key_name>"
subnet_id                = "<your-subnet_id>"
network_id               = "<your-network_id>"
service_account_key_file = "<your-service_account_key_file>.json"
service_account_id       = "<your-service_account_id>"
