cloud_id                 = "your_cloud_id"
folder_id                = "your_folder_id"
image_id                 = "your_image_id"
public_key_path          = "files/user.pub"
private_key_path         = "files/user.key"
subnet_id                = "your_subnet_id"
service_account_key_file = "files/key.json"
masters_count                   = "1"
workers_count                   = "1"
