{
    "service_account_key_file": "packer/files/key.json",
    "folder_id": "yourfolderid",
    "source_image_family": "ubuntu-1604-lts",
    "subnet_id": "yoursubnetid",
    "image_family": "your-image-familyname"
}
